$font-stack-primary: sans-serif;
$font-stack-secondary: sans-serif;

$font-size-base: 1rem;

$color-primary: #fce762;
$color-secondary: #db565d;

$color-background: #171c2b;

$color-black: #040404;
$color-white: #ffffff;

$color-grey-light-1: #e1e1e1;
$color-grey-dark-1: #adadad;

$color-black-light-1: #1a1a1a;
$color-black-light-2: #5d5d5d;
