@import '../../sass/variables';

.planet-card {
    font-family: $font-stack-secondary;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: 1rem 0.5rem;
    padding: 1rem;
    width: 200px;
    height: 300px;

    border-radius: 10px;
    border: 1px solid $color-secondary;

    &__info {
        color: $color-secondary;
        font-size: 0.8rem;
    }
    &__actions {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        button {
            margin: 0.5rem;
            font-size: 0.8rem;
            font-weight: bold;
            padding: 0.3rem;
            border-radius: 5px;
            border: 1px solid $color-secondary;
            background-color: $color-white;
            color: $color-secondary;
            &:hover {
                cursor: pointer;
                background-color: $color-secondary;
                color: $color-white;
            }
        }
    }
}

@media (max-width: 768px) {
    .planet-card {
        width: 150px;
        height: 262.5px;
    }
}
