@import '../../sass/variables';

.planets-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-items: center;
    margin: 0.5rem;
    padding: 0;
}

@media (max-width: 768px) {
    .planets-list {
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    }
}
