@import '../../sass/variables';

.app-header {
    font-family: $font-stack-primary;
    padding: 0.7rem;
    border-bottom: $color-secondary 1px solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
        font-size: 2rem;
        font-weight: bold;
        color: $color-secondary;
    }
    &__button {
        margin: 0.5rem;
        font-size: 1rem;
        font-weight: bold;
        padding: 0.6rem 1rem;
        border-radius: 5px;
        border: 1px solid $color-grey-dark-1;
        background-color: $color-white;
        color: $color-primary;
        transition: all 0.2s ease-in-out;
        &:hover {
            cursor: pointer;
            background-color: $color-primary;
            color: $color-white;
            border: 1px solid $color-white;
        }
    }
}

@media (max-width: 768px) {
    .app-header {
        &__title {
            font-size: 1.5rem;
        }
        &__button {
            font-size: 0.8rem;
        }
    }
}
